<%= javascript 'dynamic_epreuves' %>
<div class="space_top">
	<h2>Modification de la note</h2>

	<%= form_for @note do |f| %>
	<div class="field is-4 column is-centered space_top-small2">
		<span class="select">
		 <%= f.collection_select :user_id, User.where(type:'Etudiant'), :id, :prenom_et_nom, include_blank: 'Sélectionnez un étudiant', class: "select" %>
		</span>
	</div>
	<div class="field is-4 column is-centered ">
		 <span class="select">
		 <%= f.collection_select :matiere_id, Matiere.where(user_id: current_user.id), :id, :titre, include_blank: 'Sélectionnez une matière', class: "select" %>
		 </span>
	</div>
	<div class="field is-4 column is-centered">
		 <span class="select">
		 <p id="epreuve_field">
		 <%= f.collection_select :epreuve_id, Epreuve.all ,:id, :titre, include_blank: 'Sélectionnez une épreuve' %>
		 </p>
		 </span>
	</div>
	<div class="field is-1 column is-centered">
		<%= f.text_field :note, placeholder: "Note", class: "input"%>
	</div>
	<div class="actions columns is-centered space_top-small2">
		<%= f.submit "Enregistrer", class: "button is-warning is-medium" %>
	</div>
	<% end %>
	<div class="corner_left">
		<%= link_to "Retour", :back, :class => 'button is-dark' %>
	</div>
</div>

