<div class="space_top">
	<h2>Mot de passe oublié?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  Entrez votre adresse email pour recevoir les instructions afin de changer votre mot de passe.
	  <div class="field is-4 column is-centered">
	    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "input" %>
	  </div>

	  <div class="actions columns is-centered space_top-small2">
	    <%= f.submit "Valider", class: "button is-warning" %>
	  </div>
	<% end %>

<%= render "devise/shared/links" %>
</div>
