<div class="space_top">

  <h1>Bienvenue sur le Buffa-noteur !</h1>

  <h2>Identifiez vous !</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="columns">
    <div class="field is-4 column is-centered control has-icon is-9-mobile is-one-third-tablet is-one-quarter-desktop">
      <%= f.email_field :email, class: "input", placeholder: "Email" %>
      <i class="fa fa-envelope"></i>
    </div>
  </div>
  <div class="columns">
    <div class="field is-4 column is-centered control has-icon is-9-mobile is-one-third-tablet is-one-quarter-desktop">
      <%= f.password_field :password, autocomplete: "off", class: "input", placeholder: "Mot de passe" %>
      <i class="fa fa-lock"></i>
    </div>
  </div>

    <% if devise_mapping.rememberable? -%>
  <div class="columns">
      <div class="field is-4 column is-centered">
        <%= f.check_box :remember_me, class: "checkbox" %>
        <%= f.label :se_souvenir %>
      </div>
  </div>
    <% end -%>
  <div class="columns">
    <div class="actions is-one-half column is-centered ">
      <%= f.submit "Se connecter", class: "button button is-warning is-medium" %>
    </div>
  </div>
  <% end %>
</div>
<div class="align_bot">
  <%= render "devise/shared/links" %>
</div>