<div class="space_top-small">
	<h2> Mes épreuves </h2>
	
<%if @epreuve_list.empty? %>
	Aucune épreuve
	<div class="corner_left">
		<%= link_to "Accueil", root_path, :class => 'button is-dark' %>
	</div>
	<% if current_user.kind_of? Enseignant %>
		   <%= link_to "Ajouter une épreuve",  new_epreuve_path, class: "button is-success corner_right" %>
	<% end %>

<%else%>
	<div class="columns space_top-small2">
		<div class="column is-9 is-centered">
			<table class="overflow-y">
				<thead>
					<th>Epreuve</th>
					<th>Matiere</th>
					<th>Date</th>
					<% if current_user.kind_of? Enseignant %>
				    	<th>Ajouter une note</th>
				    <% end %>
				</thead>
				<tbody>
					<% for @epreuve in @epreuve_list %>	
					<tr>
						<td><%= @epreuve.titre %></td>
						<td><%= Matiere.find(@epreuve.matiere_id).titre %></td>
						<td><%= @epreuve.date %></td>

					    <% if current_user.kind_of? Enseignant %>
					    <td>
					    	<%= link_to raw("<span class=\"icon\"><i class=\"fa fa-plus\" aria-hidden=\"true\"></i></span><span>Ajouter une note</span>"),  new_note_path({ :epreuve_id => @epreuve.id }), class: "button" %>
					    </td>
					    <% end %>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	
	<div class="corner_left">
		<%= link_to "Accueil", root_path, :class => 'button is-dark' %>
	</div>
	<% if current_user.kind_of? Enseignant %>
		   <%= link_to "Ajouter une épreuve",  new_epreuve_path, class: "button is-success corner_right" %>
	<% end %>
</div>
<%end%>
