<% if (params[:matiere_id] != nil) && not(current_user.kind_of? Etudiant) %>
	<div class="space_top">
	<h2> <%= @matiere.titre %> </h2>
	<h5>du <%= @matiere.debut %> au <%= @matiere.fin %> </h5>
 
    <% @i=0 %>
    <%= form_tag({controller: "matieres", action: "newmatels"}, method: "post") do %>
	    <div class="scrollable" id="scrollable">
		  <% @mateltab.each do |matel| %>
		    <%= fields_for 'matels[]', matel do |f| %>

		    <div class="columns is-centered">
			    <div class="field column better_lineheight isnot-flex">
		  			<%= f.text_field :matiere_id, :value => @matiere.id, class: "hidden"  %>
			    	<%= @etudiant_list[@i].nom %>
			    	<%= @etudiant_list[@i].prenom %>
			    	<%= f.check_box("user_id", {class: 'checkbox'}, @etudiant_list[@i].id, nil ) %>
			    </div>
		    </div>
		    <% @i+=1 %> 
		    <% end %>
		  <% end %>
		</div>
		<div class="actions columns is-centered space_top-small2">
		    <%= submit_tag "Enregistrer", class: "button is-warning is-medium" %>
		</div>
	<% end %>
	<div class="corner_left">
		<%= link_to "Retour", :back, :class => 'button is-dark' %>
	</div>
	</div>

<%else%>
<div class="space_top">
	<h2> Mes matières </h2>
<%if @matiere_list.empty? %>
	Aucune matière
	<div class="corner_left">
		<%= link_to "Accueil", root_path, :class => 'button is-dark' %>
	</div>
	<% if current_user.kind_of? Enseignant %>
	   <%= link_to "Ajouter une matière",  new_matiere_path, class: "button is-success corner_right" %>
	<% end %>
<%else%>
	<div class="columns space_top-small2">
		<div class="column is-9 is-centered">
			<table class="overflow-y">
				<thead>
					<th>Matière</th>
					<th>Du</th>
					<th>Au</th>
					<% if not(current_user.kind_of? Etudiant) %>
				    	<th>Ajouter des étudiants</th>
				    <% end %>
				</thead>
				<tbody>	
					<% for @matiere in @matiere_list %>
					    <tr>
					    <td><%= @matiere.titre %></td>
					    
					    <td><%= @matiere.debut %></td>
					    <td><%= @matiere.fin %></td>
					    
					    <% if not(current_user.kind_of? Etudiant) %>
					    <td>
					    	<%= link_to raw("<span class=\"icon\"><i class=\"fa fa-plus\" aria-hidden=\"true\"></i></span><span>Ajouter des étudiants à cette matière</span>"),  matieres_path({ :matiere_id => @matiere.id }), class: "button" %>
					    </td>  
					    <% end %>
					    </tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="corner_left">
		<%= link_to "Accueil", root_path, :class => 'button is-dark' %>
	</div>
	<% if current_user.kind_of? Enseignant %>
	   <%= link_to "Ajouter une matière",  new_matiere_path, class: "button is-success corner_right" %>
	<% end %>
</div>
<% end %>
<% end %>
