<div class="space_top">
<h2>Nouvelle matière</h2>

<%= form_for @matiere do |f| %>
	<div class="field is-2 column is-centered">
  		<%= f.label :date_de_debut%>
   		<%= f.date_field :debut, class: "input" %>
   	</div>
	<div class="field is-2 column is-centered">
  		<%= f.label :Date_de_fin%>       
   		<%= f.date_field :fin, class: "input"%>
   	</div>
	<div class="field is-2 column is-centered">
		<%= f.text_field :titre, placeholder: "Matière", class: "input"%>
	</div>

<div class="actions columns is-centered space_top-small2">
		<%= f.submit "Enregistrer", class: "button is-warning is-medium" %>
</div>
<% end %>
<div class="corner_left">
    <%= link_to "Accueil", root_path, :class => 'button is-dark' %>
  </div>
</div>


