<div class="space_top">
    <% if current_user.kind_of? Administrateur %>
        <h2>Valider l'enseignant</h2>

        <%= form_for [:validation, @user] do |f| %>
            <div class="field is-2 column is-centered">
                <%= f.text_field :nom, class: "input" %>
            </div>
            <div class="field is-2 column is-centered">
                <%= f.text_field :prenom, class: "input" %>
            </div>
            <div class="field is-3 column is-centered">
                <%= f.email_field :email, class: "input" %>
            </div>
            <div class="field is-2 column is-centered">
                <%= f.label :approved, "Validé?"%>
                <%= f.check_box :approved%>
            </div>
            <div class="actions columns is-centered space_top-small2">
                <%= f.submit "Enregistrer", class: "button is-warning"%>
            </div>
        <% end %>
        <div class="corner_left">
            <%= link_to "Retour", :back, :class => 'button is-dark' %>
        </div>
    <% end %>

</div>
